@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: linear-gradient(71.17deg, #feaf00 19.35%, #f8d442 90.12%);
}

.container {
  max-width: 1250px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.stick {
  width: 59px;
  position: absolute;
  top: 170px;
  left: 580px;
  rotate: -90deg;
  border: 6px solid #f8d442;
}

.login-modal {
  background-color: #fff;
  width: 475px;
  height: 550px;
  margin-top: 100px;
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
  text-align: center;
}

.login-modal h1 {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  margin-left: 50px;
  margin-top: 58px;
}

.login-modal h2 {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  margin-top: 40px;
  margin-bottom: 10px;
}

.login-modal h4 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 800;
  line-height: 17px;
  letter-spacing: 0em;
  color: gray;
  padding-bottom: 20px;
}

.email-input {
  border: 2px solid #e5e5e5;
  color: black;
  font-weight: 700;
  height: 50px;
  width: 430px;
  margin-left: 20px;
}

.email-input::placeholder {
  padding-left: 12px;
  color: #e5e5e5;
}

.input {
  border: 2px solid #e5e5e5;
  color: black;
  font-weight: 700;
  height: 50px;
  width: 430px;
  padding: 20px;
}

.input::placeholder {
  padding-left: 12px;
  color: #e5e5e5;
}

label {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 23px;
  padding-bottom: 7px;
  padding-top: 30px;
  font-weight: 400;
  color: #6c6c6c;
}

.submit {
  margin-top: 20px;
  color: #fff;
  width: 435px;
  height: 44px;
  top: 596px;
  left: 505px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #feaf00;
  border: none;
}
